@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  :root {
    --background: 33 50% 95%; /* #f4efeb */
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;
    --border: 0 0% 0%; 
    --input: 0 0% 0%;
    --ring: 0 0% 0%;
    --radius: 1rem;
    --brutal-shadow: #000000;
    --brutal-border: #000000;
  }
}

@layer utilities {
  .card-brutal {
    @apply border-2 border-black bg-white transition-all text-black;
    box-shadow: 4px 4px 0 0 var(--brutal-shadow);
  }
  .card-brutal:hover {
    @apply translate-y-[-2px] translate-x-[-2px];
    box-shadow: 6px 6px 0 0 var(--brutal-shadow);
  }
  .btn-brutal {
    @apply border-2 border-black font-bold transition-all active:translate-y-1 active:translate-x-1 active:shadow-none text-black bg-white;
    box-shadow: 4px 4px 0 0 var(--brutal-shadow);
  }
}
